

<p>You will be redirected to the Bank Lambda oauth login </p>

<br />
<br />
<%= link to: Routes.wizard_path(@conn, :new, jwt: @jwt), class: "btn btn-primary" do %>
  <strong>Login with Bank Lambda</strong>
<% end %>

<br />
<br />
<br />
<br />
<hr>
<h6>Debug section </h6>
<pre>
<code>
Wallet ID: <%= @wallet_id %>
</code>
</pre>